.container {
	padding: 40px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.headerText {
	text-align: left;
	font-size: 22px;
	margin: 8px;
	margin-left: 15px;
	font-weight: 200;
}

.headerIcon {
	margin-right: 10px;
	margin-top: 10px;
	font-size: 30px;
	cursor: default;
}

.filterSection {
	flex: 1;
	padding: 15px;
}

.tagsContainer {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.actionPane {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.actionButton {
	margin-right: 5px;
}
