.headerIcon {
	margin-right: 10px;
	margin-top: 10px;
	font-size: 30px;
	cursor: default;
}

.filterSection {
	padding: 15px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.headerText {
	text-align: left;
	font-size: 25px;
	margin: 8px;
	font-weight: 300;
}

.filterBy {
	text-align: left;
	margin-left: 10px;
	font-weight: 400;
}

.container {
	margin-top: 10px;
	width: 500px;
}
