//Workplace Analytics Colors

//Fabric Neutrals
//White
$white: #ffffff;
//Black
$black: #000000;

$neutralDark: #212121;
$neutralPrimary: #333333;
$neutralPrimaryAlt: #3c3c3c;
$neutralSecondary: #666666;
$neutralTertiary: #a6a6a6;
$neutralTertiaryAlt: #c8c8c8;
$neutralLight: #eaeaea;
$neutralLighter: #f4f4f4;
$neutralLighterAlt: #f8f8f8;

$coolGray-rich: #212838;
$coolGray-dark: #344b59;
$coolGray-primary: #385868;
$coolGray-secondary: #527a8e;
$coolGray-tertiary: #7295a5;
$coolGray-light: #9bc1cc;

$steel-rich: #25667a;
$steel-primary: #5b95a5;
$steel-secondary: #9dc3ce;
$steel-tertiary: #c3dce2;
$steel-light: #e2edf1;

$teal-rich: #016677;
$teal-dark: #018192;
$teal-primary: #0296aa;
$teal-secondary: #64c8d8;
$teal-tertiary: #92d8e3;
$teal-light: #c9ecf1;

$mint-rich: #1d7070;
$mint-dark: #27827f;
$mint-primary: #329e96;
$mint-secondary: #36ccb6;
$mint-tertiary: #71d8bf;
$mint-light: #b8eddb;

$medBlue-rich: #1d627e;
$medBlue-dark: #2b7e9f;
$medBlue-primary: #2f8cb0;
$medBlue-secondary: #34b1e2;
$medBlue-tertiary: #71c8ea;
$medBlue-light: #b7e3f5;

$lightBlue-rich: #036977;
$lightBlue-dark: #018194;
$lightBlue-primary: #11b8d3;
$lightBlue-secondary: #2ccff4;
$lightBlue-tertiary: #8be1fc;
$lightBlue-light: #c0f3fc;

$red-rich: #a80202;
$red-dark: #d10909;
$red-primary: #f44e4a;
$red-secondary: #f95d5d;
$red-tertiary: #fa9292;
$red-light: #fdc9c9;

$green-rich: #1f6d03;
$green-dark: #248703;
$green-primary: #35af0c;
$green-secondary: #51ce68;
$green-tertiary: #90ea86;
$green-light: #aeefa8;

$grape-rich: #6d4173;
$grape-dark: #7e5289;
$grape-primary: #985fa1;
$grape-secondary: #c075cd;
$grape-tertiary: #d39fdc;
$grape-light: #e9cfee;

$orange-rich: #d14220;
$orange-dark: #db4e33;
$orange-primary: #eb623e;
$orange-secondary: #fc7944;
$orange-tertiary: #fca17c;
$orange-light: #fed0be;

$yellow-rich: #db8509;
$yellow-dark: #e59007;
$yellow-primary: #faaa03;
$yellow-secondary: #fcba03;
$yellow-tertiary: #ffcc03;
$yellow-light: #ffdf7b;

$olive-rich: #5f731f;
$olive-dark: #73872b;
$olive-primary: #86a232;
$olive-secondary: #a8ce38;
$olive-tertiary: #beda6a;
$olive-light: #d4e79c;

$purple-rich: #57487f;
$purple-dark: #67569b;
$purple-primary: #7c68b2;
$purple-secondary: #9a80e4;
$purple-tertiary: #b8a6eb;
$purple-light: #dcd3f5;

$neutral-black: #000000;
$neutral-dark: #212121;
$neutral-primaryAlt: #3c3c3c;
$neutral-secondary: #666666;
$neutral-tertiary: #a6a6a6;
$neutral-tertiaryAlt: #c8c8c8;
$neutral-light: #eaeaea;
$neutral-lighter: #f4f4f4;
$neutral-white: #ffffff;

$transparent: transparent;
