.appContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
	flex: 0 0;
}
.topBar {
	background-color: rgba(155, 193, 204, 0.85);
	height: 50px;
	display: flex;
	align-items: center;
	.brandmark {
		height: 50px;
		width: 50px;
		background-color: #5b95a5;
		img {
			width: 26px;
			margin: 11px;
		}
	}
	.title {
		flex: 1 1 0px;
		font-size: 20px;
		font-weight: 400;
		color: #385868;
		padding: 0 22px;
		text-align: left;
	}
}

.contentContainer {
	flex: 1;
	display: flex;
	// height: calc(100vh - 50px);
	// background-color: #900;
	// text-align: center;
	// flex: 1;
	// display: flex;
}
.pageContainer {
	flex: 1;
}

/**
 * Side Nav
 */
.sidePanel {
	flex: 0 1 280px;
	padding: 0;
	margin: 0;
}

// $nav-color: #344b59;
// .navContainer {
//   background-color: $nav-color;
//   height: 100vh;
//   width: 280px;
//   // min-width: 160px;
//   .ms-Nav-link {
//     color: #fff;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 20px;
//     padding: 25px 10px;
//     i,
//     &:hover i {
//       color: #fff;
//       font-size: 20px;
//       padding: 0 10px 0 5px;
//     }
//   }
//   .ms-Nav-compositeLink {
//     background-color: transparent;
//   }

//   .ms-Nav-compositeLink:hover .ms-Nav-link {
//     background-color: darken($nav-color, 10%);
//     color: #fff;
//   }
//   .is-selected .ms-Nav-link {
//     color: #ffcc03;
//     background-color: #212838;
//     i {
//       color: #ffcc03;
//     }
//   }
//   .ms-Nav-compositeLink.is-selected:hover .ms-Nav-link {
//     color: #ffcc03;
//   }
// }
