.appContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.contentContainer {
	flex: 1;
	display: flex;
}
.pageContainer {
	flex: 1;
}

/**
 * Side Nav
 */
.sidePanel {
	flex: 0 1 280px;
	padding: 0;
	margin: 0;
}
