.attributesPane {
	padding: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.attributeName {
	font-size: 12px;
	font-weight: bold;
	flex: 1;
}

.attributeContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.attributeValue {
	font-size: 12px;
	flex: 4;
}

.metricAttribute {
	@extend .attributeValue;
	align-items: center;
	display: flex;
	position: relative;
}

.metricText {
	position: absolute;
	right: 5px;
}

.metricBack {
	width: 100%;
	height: 3px;
}

.metricBar {
	height: 100%;
}
