.container {
	flex: 1;
	padding: 15px;
	margin-bottom: 15px;
	width: 60%;
}

.messageContainer {
	padding: 15px;
	font-weight: 300;
}

.actionPane {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 15px;
}

.actionButton {
	margin-right: 5px;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.status {
	font-weight: bold;
	font-size: 12px;
}
